#products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    font-family: Arial, Helvetica, sans-serif;
}

.element {
    text-align: center;
    border: 1px solid black;
    margin: 50px;
}

.elementTitle {
    color: black;
    font-size: 25px;
    text-decoration: none;
}

.elementImg {
    width: 180px;
    align-content: center;
}

.elementLink {
    text-decoration: none;
}